<!--Assignment 2
Student: Amish tangri 301108446
Course: Web Application Development SEC.001  COMP229004-2020F
Date: October 24, 2020 -->
 
 <!--Footer-->
  <br>
  <footer style="margin-top: 2cm;">
  <nav   class="navbar fixed-bottom navbar-dark" style="background-color: slateblue;" >
    <h6  class="display-6 navbar-text navbar-dark"> &copy; 2020 Copyright 2020 - Amish tangri - Express Portfolio </h6>
  </nav>
</footer>