<!--Assignment 2
Student: Amish tangri 301108446
Course: Web Application Development SEC.001  COMP229001-2020F
Date: October 24, 2020 -->
 
 
 <!--Script section-->
  <script src="/jquery/dist/jquery.min.js" ></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js" ></script>
</body>
</html>


